.form-control /*"search"*/{
	font-family: Comfortaa-Regular;
	scr: url('Fonts/Comfortaa-Regular.ttf');
	
	
}
#nav /*navigation on the top*/{
	font-family: Comfortaa-Regular;
	scr: url('Fonts/Comfortaa-Regular.ttf');

}

.p-2 text-muted{
	color: #0F3152; /*midnight Blue*/
}

#logo{
	
}
#Intro{}
#shortIntro{}
#h3start {}
.bog-post-title {}
.blog-post-meta	/*date*/ {}

.blog-pagination{
	margin-left: 70%;
}

#buttonVas{}

#buttonAlex{}
	border-color: 
	background-color: #5892A6; /* Cadet Blue */
    border: ;
    color: #2C3E48;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 5px;

#header_about{
	background-attachment: url('WorkImages/DSC01798_5.jpg');
}
